<div id="game">
	<p>
		Playing game in room: {{roomName}}, turn {{turnNum}}.
	</p>
	<ul id="players">
		{{#each players}}
			<li id="player_{{socketId @key}}">{{name}} {{#if turnDone}}<i class="fa fa-check"></i>{{/if}}</li>
		{{/each}}
	</ul>
	<button id="end_turn">End Turn</button>
	<div class="game-canvas">
		<div class="ui-numbers">
			<span class="key">Cards In Deck: </span>
			<span class="value" id="player_cards_in_deck">0 </span>
			<span class="key">Opp. Cards In Deck: </span>
			<span class="value" id="opponent_cards_in_deck">0 </span>
			<span class="key">Ritual Pieces: </span>
			<span class="value" id="player_ritual_pieces">0 </span>
			<span class="key">Opp. Ritual Pieces: </span>
			<span class="value" id="opponent_ritual_pieces">0 </span>
			<span class="key">Face damage: </span>
			<span class="value" id="player_face_damage">0 </span>
			<span class="key">Opp. face damage: </span>
			<span class="value" id="opponent_face_damage">0 </span>
			<span class="key">Mana: </span>
			<span class="value" id="mana">0 </span>
		</div>
		<div class="board">
			OPPONENT BOARD
			<div class="cards opponent-board">
			</div>
			PLAYER BOARD
			<div class="cards player-board">
			</div>
		</div>
		<div class="hand player-hand">

		</div>
	</div>
</div>
